<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>devigodev</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<!-- navbar -->
<nav>
  <div class="logo">
      <div class="logo2">
        <img src="" alt="">
          <img src="img/nova.png" alt="">
      </div>
  </div>
  <ul class="nav-links">
      <li><a href="#intro">Intro</a></li>
      <li><a href="#versi">Version</a></li>
      <li><a href="https://wa.me/6281333794278">Premium</a></li>
  </ul>
  <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
</nav>
<div class="isi">
    <div id="intro" class="intro">
        <div class="introbox">
            <h3><span>Introducing</span> Nova Ai our fastes and most affordable flagship model</h3>
        </div>
    </div>
        <div class="start">
            <h1>NovaAi documentation</h1>
            <h2>Start with the basics</h2>
            <div class="startbox">
                <div class="startitem">
                    <h3>Grammar corretion</h3>
                    <p>Convert ungrammatical statements into standart English</p>
                </div>
                <div class="startitem">
                    <h3>Operator Math</h3>
                    <p>Calculate any type of mathematical operator</p>
                </div>
                <div class="startitem">
                    <h3>Explain Code</h3>
                    <p>Explain a complicated piece of code</p>
                </div>
                <div class="startitem">
                    <h3>Product Nama Geneator</h3>
                    <p>Generate products name  from a desciption of a product</p>
                </div>
                <div class="startitem">
                    <h3>Python bug fixer</h3>
                    <p>Find and fix bugs in source code</p>
                </div>
                <div class="startitem">
                    <h3>Function from specifications</h3>
                    <p>Create a Python function from a specifications</p>
                </div>
                <div class="startitem">
                    <h3>Single page web create</h3>
                    <p>Create a single page website</p>
                </div>
            </div>
        </div>
        <div id ="versi" class="versi">
            <div class="versibox">
                <h2>Nova<p>10.3</p></h2>
                <p>Our fastest and most affordable model</p>
                <li>Copying code on premium</li>
                <li>8billion data on premium</li>
                <li>code created on premium</li>
            </div>
        </div>
</div>
<script src="script.js"></script>
<!-- navbar -->


</body>
</html>